* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
main {
  width: 1140px;
  margin: 0 auto;
}
.description {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.section-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.btn {
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  padding: 20px 25px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
/* header part  styles */
.banner {
  background-image: url('../images/banner/banner3.png');
}
.banner-info-wrapper {
  display: flex;
  text-align: right;
  max-width: 1140px;
  align-items: center;
  height: 700px;
  margin: 0 auto;
  justify-content: right;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #fff;
}
.banner-description {
  padding: 32px 0;
}
/* My failures part styles */
.my-failure-wrapper {
  display: flex;
  padding: 130px 0;
  gap: 85px;
  align-items: center;
}
.my-failure-info {
  padding-left: 70px;
}
.my-failure-description {
  padding: 24px 0 16px 0;
}
.my-failure-reason li {
  list-style: none;
  line-height: 30px;
}
.my-failure-reason li img {
  padding: 5px 16px 0 35px;
}
